<!--<!DOCTYPE html>-->
<!--<html>-->

<!-- TODO: move all of this header stuff into a separate file to include via EJS; Create footer -->

<!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<title>Contact Manager</title>-->
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>-->
<!--</head>-->

<!--<body>-->

<!--<section class="hero is-primary is-bold">-->
    <!--<div class="hero-body">-->
        <!--<div class="container">-->
            <!--<h1 class="title">-->
                <!--Contact Manager-->
            <!--</h1>-->
            <!--<h2 class="subtitle">-->
                <!--<%=`Welcome, ${name}!`%>-->
            <!--</h2>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->

<!--<div class="container contactManager">-->
    <!--<div class="columns">-->
        <!--<div class="column is-one-third">-->
            <!--<% for (var i = 0; i < 10; i++) { %>-->
                <!--<div class="box" style="margin: .75rem 0rem 0rem 0rem">-->
                <!--<span>-->
                    <!--<span class="icon">-->
                        <!--<i class="fas fa-user"></i>-->
                    <!--</span>-->
                    <!--CONTACT NAME HERE-->
                <!--</span>-->
                <!--</div>-->
            <!--<% } %>-->
        <!--</div>-->

        <!--<div class="column is-gapless">-->
            <!--<article class="message is-info">-->
                <!--<div class="message-header">-->
                    <!--Info-->
                    <!--<button class="delete"></button>-->
                <!--</div>-->
                <!--<div class="message-body">-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, tempus quis placerat-->
                    <!--ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et-->
                    <!--dictum felis venenatis efficitur. Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et-->
                    <!--sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna,-->
                    <!--vehicula et sem eget, facilisis sodales sem.-->
                <!--</div>-->
            <!--</article>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--</body>-->