html,body {
    font-size: 14px;
    font-weight: 300;
    
}
.font-catamaran {
    font-family: 'Catamaran', san-serif;
}
.hero.is-info {
    /* background: #F2F6FA; */
    background: url(https://i.imgur.com/Iqb3wUT.jpg);
    /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

input {
    font-weight: 300;
}
p {
    font-weight: 700;
}
p.subtitle {
    padding-top: 1rem;
}

p.left {
    float:left;
}

p.contact-info {
    font-size: 15px;
    font-family: inherit;
    padding-left: 1%;
    padding-top: 2%;
    padding-bottom: 1%;
}

.accordion {
    margin-bottom: 5%;
}

.btn.btn-link.nounderline {
    text-align: left;
    text-decoration: none;
}

.card-body {
    margin-bottom: 1.5%;
}

.column.logout{
    margin-top: 2%;
}

.container.image {
    float: left;
    width: 15%;
    height: 100%;
    padding: 1.5% 2% 2% 1%;
}

.container.contact-info {
    float:left;
    width: 85%;
    padding-left: 0;
    margin-bottom: 2.5%;
}

.column.is-one-fifth {
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0%;
}

.column.is-two-fifths.left {
    display: block;
    margin: auto;
    margin-top: 2%;
    padding-top: 0%;
    padding-left: 1%;
    padding-bottom: 0%;
}

.column.is-two-fifths.right {
    display: block;
    margin-top: 2%;
    padding-top: 0%;
    padding-left: 1%;
}

.contact-info.add-line2,
.contact-info.add-line3 {
    margin-left: 4.9%;
}

figure.image.is-96x96 {
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.delete-contact {
    text-align: right;
    font-weight: 400;
}
/* Removes spin control on number input fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.deleteButton {
    /* text-align: right; */
    position: absolute;
    bottom: 8px;
    right: 20px;
    margin-top: 10px;
    font-weight: 700;
}
.title {
    text-transform: uppercase;
}
.login-register-link {
    text-transform: uppercase;
    color: #ffffff;
}
.login {
    color: #6C6060
}
.button {
    font-family: 'Catamaran', san-serif; 
}