html,body {
    font-size: 14px;
    font-weight: 300;
}
.hero.is-success {
    background: #F2F6FA;
}
.hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

input {
    font-weight: 300;
}
p {
    font-weight: 700;
}
p.subtitle {
    padding-top: 1rem;
}

p.left {
    float:left;
}

p.contact-info {
    padding-left: 1%;
    padding-top: 2%;
    padding-bottom: 1%;
}

#accordionExample.accordion {
    margin-bottom: 5em;
}

.btn.btn-link.nounderline {
    text-align: left;
    text-decoration: none;
}

.card-body {
    margin-bottom: 1.5%;
}

.container.image {
    float: left;
    width: 15%;
    height: 100%;
    padding: 1.5% 2% 2% 1%;
}

.container.contact-info {
    float:left;
    width: 85%;
    padding-left: 0;
    margin-bottom: 2.5%;
}

.column.is-one-fifth {
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0%;
}

.column.is-two-fifths.left {
    display: block;
    margin: auto;
    padding-top: 1.5%;
    padding-left: 1%;
    padding-bottom: 0%;
}

.column.is-two-fifths.right {
    display: block;
    margin-top: 2%;
    padding-top: 0%;
    padding-left: 1%;
}

figure.image.is-96x96 {
    display:block;
    margin-left: auto;
    margin-right: auto;
}
